* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    
    background-size:cover;
    background-image: url("images/hotel2.jpg");
     background-attachment:fixed;
     background-repeat: no-repeat;
     z-index: -100;
     /* display: flex; */
     justify-content: center;
     align-items: center;
     flex-direction: column;
    
}  

     /* navigation sector styling */
     header{
      height:50px;
      
     }
     nav {
      width:100%;
      backdrop-filter: blur(50px);
     
    }
    
    .navbar-brand{
      font-family:roboto;
      color: #00EBA0;
      padding:2px 10px 2px 10px;
      border-radius:10px;
      transition-duration: 300ms;
    }
    
    .navbar-brand:hover{
      color: rgb(243, 250, 250);
      transition-duration: 300ms;
      box-shadow: 2px 0px 5px rgb(71, 252, 243);
    }
    
    .navbar ul{
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    
    .navbar ul li{
      margin: 0 10px;
      justify-content: space-around;
    }
    
    .nav-link {
      
      margin: 0px 20px;
      padding:10px;
      font-weight: 400;
      font-family: Roboto;
    }
    
    li {
      border-radius: 5px;
      transition-duration: 300ms;
    }
    
    li:focus, li:hover {
      color:whitesmoke;
      transform: translateY(-5px);
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(166,226,229,1) 0%, rgba(198,232,221,1) 100.2% );
    }
    
    /*main body styling*/

.box{
 margin-top: 50px;
 display: flex;
 height: 300px;
 background-color: #99949491;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  }
h{
    color: rgb(176, 238, 126);
    font-family: Gabriela Stencil;
    font-size: 40px;
    text-align: center;
  }
   
  
.typeWriter {
   
    color:#eeecec;
    font-family:Gabriela Stencil;
  }


h2 {

  color:rgb(252, 251, 251);
  text-align: center;
  font-family: Gabriela ;
}


p1{
    font-size: 30px;
    color:#fdfcfc;
    font-family: Gabriela Stencil;
    text-align: center;
  }
  
          /* Footer styling*/
  .foot{
    gap:50px;
    height:100px;
    display:flex;
    position:absolute;
    bottom: 0px;
    flex-direction: row;
   /* background-color:color-mix(in srgb,#2D3E40 90%, transparent 10%);
    */
    background-color:#0D0D0D ;
  }

  i{
    color:white;
    padding: 7px;
    font-size: 18px;
    transition: all 300ms;
  }
  #insta:hover{
   
    background-color: #fd0bdd;
  }
  #wats:hover{
    background-color: #044b2d;
  }
  #dis:hover{
    background-color: #132c99;
  }
  #sms:hover{
    background-color: #6216a0;
  }

   /* reload button */
  #ror{
    margin-top: 0px;
    font-size: 22px;
    color:rgb(224, 243, 248);
    animation:myspin 80ms  infinite;
  }

  @keyframes myspin {    /*used keyframes to create a animation where the icon is spining
                              attached to the page reload button*/
    0% {
      /* color: rgb(224, 243, 248);  */
      transform: rotate(0deg);
    }
    
    100% {
      /* color: rgb(3, 0, 0); */
      transform: rotate(360deg);
   
  }
  }

 .loader{
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    z-index: 1000;    /* Ensure it's on top of other content */
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );

}
.loader:hover{
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );

}
@media screen and (max-width:540px) {
 
  }





